<div class="fullScreenBlock">
  <div class="top">
    <app-user-plate
      (dataChanged)="handleDataChanged($event)"
    ></app-user-plate>
  </div>
  <div class="bottom">
    <p>Добрый день, для получения доступа введите какой-либо email и пароль в поле регистрации/входа</p>
    <p>Срок действия Token'a - примерно полторы минуты. Можете подождать и попробовать обновить страницу</p>
  </div>

  <app-auth-modal
    *ngIf="showAuthModal"
    (dataChanged)="handleDataChanged($event)"
  ></app-auth-modal>
</div>
