.fullScreenBlock {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.top {
  height: 110px;
  background-color: cadetblue;
  padding: 20px;
  display: flex;
  align-items: center;
}
.bottom {
  flex: 1;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    font-size: 1.9rem;
    max-width: 400px;
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}
